.places__image {
    width: 100%;
    grid-row: 2/3;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .places__image {
        align-self: start;
    }
}

@media screen and (max-width: 630px) {
    .places__image {
        grid-row: 3;
    }
}





