.intro {
    color: white;
    max-width: 984px;
    padding: 0;
    margin: 92px auto 0;  
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 93.75%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: 90%;
        margin-top: 64px;
    }
}