.places__website {
  max-width: 456px;
  max-height: 46px;
  align-self:flex-end;/*удалить*/
}

@media screen and (max-width: 768px) {
  .places__website {
    max-width: 352px;
  }    
}

@media screen and (max-width: 630px) {
  .places__website {
    width: 90%;
  }    
}